h1, .bouton{
    text-align: center;
}

h1
{
    font-size: 60px;
}

h2
{
    color: white;
    text-shadow: 2px 2px #000000;
    font-size:45px;
    text-align: center;
}

.boiteResultats
{
    margin-right:40%;
    margin-left:35%;
}

input, select{
    float :right;
    padding: 0%;
    min-width: 170px;
}

.elementForm
{
    margin-bottom: 10px;
}

p{
    display: inline;
    text-align: center;
}

#affichageMeteo p{
    color: white;
    font-size:30px;
    font-weight:bolder;
    display: inline;
    text-align: center;
}

#affichageMeteo{
   text-align: center;
   background-color: rgba(88, 217, 240, 0.938);
   height:min-content;
   padding-bottom: 15px;
   border: black solid 5px;
   border-radius: 10px;
   margin-left: 30%;
   margin-right: 30%;
}

#boiteEntrees
{
    border-radius: 10px;
    border: black solid 5px;
    padding: 25px 20px 20px 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#previsionPluie{
    margin-bottom: 20px;
}

.entree{
    color: black;
    font-size:20px;
    font-weight:normal;
}

button
{
    color: black;
    font-size:20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/*.positionInfoMeteo{

    display: flex;
    justify-content: center;

}*