p{
    /*display: inline;*/
    color: white;
    font-size:30px;
    font-weight:bolder;
    display: inline;
    text-align: center;

}

h2{
    text-align: center;
}


#affichageMeteo{
   
   background-color: darksalmon;
   width: 500px;
   height: 500px;
   border: black solid 5px;
   border-radius: 10px;;
}

#previsionPluie{

    height: 100px;
}

/*.positionInfoMeteo{

    display: flex;
    justify-content: center;

}*/